.DS_Store
/.build
/DerivedData
/build
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/
HaoPlayer.xcodeproj/project.xcworkspace/xcuserdata/
HaoPlayer.xcodeproj/xcuserdata/
Vendor/FFmpeg/src/
Vendor/IFRNet/*.pth
.venv-ifrnet/
logs/*
!logs/.gitkeep
.env
*.p12
*.cer
*.mobileprovision
